<h1>New Shelf</h1>


<%= form_for(@shelf, url: shop_shelves_path ,html: {multipart: true}) do |f| %>
<div class="form-group">
	<p>
	  <%= f.label :shelf_name %><br>
	  <%= f.text_field :shelf_name, :class => 'form-control title' %>
	</p>
	<p>
	  <%= f.submit %>
	</p>
</div>
<% end %>
