<h1>Shelf Name: <%= @shelf.shelf_name %></h1>
<p>This shelf has the following candy: </p>
<ul>
  <% @shelf.candies.each do |c| %>
  	<% if c.is_shelved == true && c.shelf_id == @shelf.id %>
			  <li>
			    <%= c.candy_name %>
			  </li>
    <% end %>
			  
  <% end %>
</ul>
<%= link_to "Back to Shop", shop_path(params[:shop_id]) %>
