<h1>All Shops</h1>

<ul>
  <% @shops.each do |shop| %>
  <li>
    <%=link_to shop.shop_name, shop_path(shop) %>&nbsp&nbsp&nbsp&nbsp<%= link_to "Delete", shop_path(shop), method: :delete %>
  </li>
  <% end %>
</ul>

<%= link_to "New Shop", new_shop_path %>
