<h1>All Shops</h1>

<table>
  <% @shops.each do |shop| %>
  <tr>
   <td><%=link_to shop.shop_name, shop_path(shop) %></td><td><%= link_to "Delete", shop_path(shop), method: :delete, class: "btn btn-danger" %></td> 
  </tr>
  <% end %>
</table>

<%= link_to "New Shop", new_shop_path %>
