<h1>Create a new candy</h1>


<%= form_for(@candy, url: shop_candies_path) do |f| %>
	<div class="form-group">
		<p>
		  <%= f.label :candy_name %><br>
		  <%= f.text_field :candy_name, :class => 'form-control title' %>
		</p>
		<p>
		  <%= f.submit %>
		</p>
	</div>
<% end %>
